body {
    margin: 2px;
    color:#041936;
    background-color: #fcbc04;
    font-size: 20px;
    border: 5px double white;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125px;
    color: white;
    border: 5px double #041936;
    -webkit-text-stroke: .5px #041936;
    background-color: #fbdf83;
}
h2 {
    color: white;
    -webkit-text-stroke: .25px #041936;

}
.intro {
    background-color: #fbdf83; 
    border: 5px double #041936;
    padding: 25px;
    margin-bottom: 25px;
}
.credentials {
    background-color: #fbdf83;
    border: 5px double #041936;
    padding: 25px;
}
.plans {
    background-color: #fbdf83;
    border: 5px double #041936;
    padding: 25px;
    margin-top: 25px; 
    margin-bottom: 25px;
}
.activities {
    background-color: #fbdf83;
    border: 5px double #041936;
}   
span {
    text-align: center;
}