* {
    margin: 12px;
    color: palevioletred
}
h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: palevioletred;
}
.intro {
    border: double white;  
}
.credentials {
    border: double white;
}
.plans {
    border: double white;
}
.activities {
    background-color: lightyellow;
    border: double black;
}   
span {
    text-align: center;
}